<!DOCTYPE html>
<html ng-app="tttApp">
	<head>
		<title>Tic Tac Toe - General Assembly WDI Project One</title>
	  	<link rel="stylesheet" href="style.css">
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.js"></script>
    	<script src="app.js"></script>
	</head>
	<body ng-controller="tttController">
		<main>
			<h1> Tic Tac Toe! </h1>
			<p> It's exes against ohs in this classic head-to-head game </p>
			<div id="container">
				<div id ="play">
<!-- 				<form name="playas"> 
					<span>Player 1</span>
					<input id="player1" ng-model="player1">
					
					<span>Player 2</span>
					<input id="player2" ng-model="player2">
 -->					
					
		<!-- 			 <button class="btn btn-success" type="button" ng-click="addName()"><i class="icon-plus" ></i>Submit</button> -->
<!-- 				</form>
				<div>{{player1}}</div> vs. <div>{{player2}}</div>
 -->
				</div>				

				<span ng-repeat="cell in gameBoard track by $index" ng-class="{cell: true, clear:($index % 3 == 0), rightLine: ($index % 3 != 2), bottomLine:($index <=5)}" ng-click="switchPlayer($index)" >{{ cell }}</span>
  		
  			</div>
		</main>
	</body>
</html>