<!DOCTYPE html>

<html ng-app="tictactoeApp">
	<head>
		<meta charset="utf-8">

		<title>An HTML Page</title>

		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<![endif]-->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/style.css">

        <script src="js/app.js" async></script>
	</head>

      <div ng-repeat="cell in cells track by $index"
       ng-class="{cell:true, clear: ($index % 3 == 0),
        rightLine: ($index % 3 != 2),
        bottomLine: ($index <= 5) }"
      ng-click="cell='X';"
        >{{ cell }}</div>

	<body>
	</body>
</html>
