body {
	color: black;
}

#container {
	background-color: black;
	width: 960px;
	margin: 0 auto;
}
.gameBoard {
	position: relative;
	left: 250px;

}
.cell {
	background-color: #000000;
	display: inline-block;
	float:left;
	width: 150px;
	height: 150px;
	color: black;
	font-size: 130px;
	text-align: center;
	vertical-align: top;
}

.rightLine {border-right: 3px solid black;}
.bottomLine {border-bottom: 3px solid black;}	

.clear {
	clear:both;

h1 {
	color: #000000;
}